*{
    margin: 0;
    padding: 0;
}


/* Zona Header/Nav */
.headermenu_flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #2FBE14;
    border-style: solid;

}

.headermenu_flex--hijo1{

}

.headermenu_flex--hijo2{
    margin-right: 20px;
}

.lista{
    list-style: none;
    display: inline-flex;
}

.lista li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    font-style: italic;
    font-size: 20px;
    font-weight: 20px;
    color: white;
}

/* Fuentes h1.h2.etc */

h1{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    text-align: center;
    margin: auto;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    font-size: 1px;
    margin: auto;
    padding: 15px;
}

h6{
    font-family: 'Architects Daughter', cursive;
    margin: auto;
    padding: 15px;

}

/* Fuentes IMG */

img{
    display: block;
    height: auto;
    width: 300px;
    max-width: 300px;
    max-height: 100px;
}
.img2{
    display: block;
    height: auto;
    width: 600px;
    max-width: 600px;
    max-height: 225px;
}
.img3{
    display: block;
    height: auto;
    width: 350px;
    max-width: 350px;
    max-height: 225px;
}
.img4{
    display: block;
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
    margin-right: 155px;
}
.img5{
    display: block;
    height: auto;
    width: 350px;
    max-width: 350px;
    max-height: 225px;
}
.img6{
    display: block;
    height: 96px;
    width: 399px;
    max-width: 760px;
    max-height: 225px;
}

/* Zona Nosotros */

.containermain_flex1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex--hijo1{

}

.containermain_flex--hijo2{
    margin-right: 20px;

}

/* Zona Registro */

.containermain_flex2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex2--hijo2{
    margin-right: 20px;

}

.containermain_flex2--hijo1{

}

/* Zona Nutricion */

.containermain_flex3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex3--hijo1{


}

.containermain_flex3--hijo2{
    margin-right: 20px;

}

/* Zona Progreso */

.containermain_flex4{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex4--hijo2{
    margin-right: 20px;

}

.containermain_flex4--hijo1{

}


/* Zona Contactanos */

.containermain_flex5{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex5--hijo1{
    width: 760px;

}

.containermain_flex5--hijo2{
    margin-right: 20px;

}

/* Zona Footer */

.footer_flex{
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #2FBE14;
    border-style: solid;
}

.footer_flex--hijo1{
    width: 150px;
    margin: 20px 20px 20px 20px;
}

.footer_flex--hijo2{

}

/* Zona Links */

.lista_footer{
    list-style: none;
    display: inline-flex;
}

.lista_footer li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px 3px 3px 3px;
    font-style: italic;
    font-weight: 20px;
    color: white;
}

.lista_footer li h6 img{
    display: block;
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
}

/* Parrafos */

p{
    font-family: 'Abril Fatface', cursive;
}

/* Boton Ir a Inicio */

.boton_inicio{
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #2FBE14;
}
.btn_inicio{
    justify-items: center;
    display: inline-block;
    color: black;
    background-color: cadetblue;
    border-radius: 3px;
    text-decoration: none;
    border-style: solid;
}

/* Links a */

a{
    margin-left: 15px;
}