*{
    margin: 0;
    padding: 0;
}


/* Zona Header/Nav */
.headermenu_flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #2FBE14;
    border-style: solid;

}


.headermenu_flex--hijo2{
    margin-right: 20px;
}

.lista{
    list-style: none;
    display: inline-flex;
}

.lista li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    font-style: italic;
    font-size: 20px;
    font-weight: 20px;
    color: white;
}

/* Fuentes h1.h2.etc */

h1{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    text-align: center;
    margin: auto;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    font-size: 1px;
    margin: auto;
    padding: 15px;
}

h6{
    font-family: 'Architects Daughter', cursive;
    margin: auto;
    padding: 15px;

}
 #animacion{
    animation-name: movimiento-izq-der;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-direction: alternate;/*para que vuelva a su posicion inicial */
    width: auto;
    position: relative;
    padding: 2px;
 }
@keyframes movimiento-izq-der{
    from {
       left: 0px;
    }
    to {
       left: 200px;
    }
 }

 #animacion2{
    animation-name: movimiento-der-izq;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-direction: alternate;/*para que vuelva a su posicion inicial */
    width: auto;
    position: relative;
    padding: 2px;
 }
 @keyframes movimiento-der-izq{
    from {
       right: 0px;
    }
    to {
       right: 200px;
    }
 }

/* Fuentes IMG */

img{

    height: auto;
    width: 300px;
    max-width: 300px;
    max-height: 100px;
}
.img2{
    display: block;
    height: auto;
    width: 600px;
    max-width: 600px;
    max-height: 225px;
}
.img3{
    display: block;
    height: auto;
    width: 350px;
    max-width: 350px;
    max-height: 225px;
}
.img4{
    display: block;
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
    margin-right: 155px;
}
.img5{
    display: block;
    height: auto;
    width: 350px;
    max-width: 350px;
    max-height: 225px;
}
.img6{
    display: block;
    height: 96px;
    width: 399px;
    max-width: 760px;
    max-height: 225px;
}

/* Zona Nosotros */

.containermain_flex1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex--hijo1{

}

.containermain_flex--hijo2{
    margin-right: 20px;

}

/* Zona Registro */

.containermain_flex2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex2--hijo2{
    margin-right: 20px;

}


/* Zona Nutricion */

.containermain_flex3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}


.containermain_flex3--hijo2{
    margin-right: 20px;

}

/* Zona Progreso */

.containermain_flex4{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex4--hijo2{
    margin-right: 20px;

}



/* Zona Contactanos */

.containermain_flex5{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-style: solid;
}

.containermain_flex5--hijo1{
    width: 760px;

}

.containermain_flex5--hijo2{
    margin-right: 20px;

}

/* Zona Footer */

.footer_flex{
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #2FBE14;
    border-style: solid;
}

.footer_flex--hijo1{
    width: 150px;
    margin: 20px 20px 20px 20px;
}

.footer_flex--hijo2{

}

/* Zona Links  Footer */

.lista_footer{
    list-style: none;
    display: inline-flex;
}

.lista_footer li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px 3px 3px 3px;
    font-style: italic;
    font-weight: 20px;
    color: white;
}

.lista_footer li h6 img{
    display: block;
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
}

/* Parrafos */

p{
    font-family: 'Abril Fatface', cursive;
}

/* Boton Ir a Inicio */

.boton_inicio{
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #2FBE14;
}
.btn_inicio{
    justify-items: center;
    display: inline-block;
    color: black;
    background-color: cadetblue;
    border-radius: 3px;
    text-decoration: none;
    border-style: solid;
    justify-content: center;
}

.btn_inicio:hover {
    position: relative;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color:white;
    color:black;
    -moz-box-shadow: 2px 2px 1px black;
  }

/* Grid Nosotros */

#grid_nosotros{
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px 20px 20px 20px;
}

#grid_nosotros div{
    background-color: white;
    text-align: center;
}




/* Grid Nutricion */

#grid_nutricion{
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 20px 20px 20px 20px;
}

#grid_nutricion div{
    background-color: white;
    text-align: center;
    justify-content: center;
}

/* Grid Progreso */

#grid_progreso{
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px 20px 20px 20px;
}

#grid_progreso div{
    background-color: white;
    text-align: center;
    justify-content: center;
}

/* Grid Registro */

.imagen9{
    text-align: center;

}

#grid_registro{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px 20px 20px 20px;
}

#grid_registro div{
    background-color: white;
    text-align: center;
    justify-items: center;    
}

.formulario_genero div{
    padding-top: 45px;
}

.formulario_condiciones div{
    padding-top: 75px;
}


/* Grid Contactanos */


#grid_contactanos{
    display: grid;
    padding: 20px 20px 20px 20px;
    grid-template-areas:
        "datos coments submit";
    grid-template-columns: auto auto auto;
}

#grid_contactanos div{
    background-color: white;
    text-align: center;  
    align-self: stretch; 
}

.contactanos{
    display: flex;
    flex-wrap: nowrap;
    grid-area: datos;
    align-self: stretch;
}

.comentarios{
    display: flex;
    flex-wrap: nowrap;
    grid-area: coments;
    align-self: stretch;
}

.enviar_datos{
    display: flex;
    flex-wrap: nowrap;
    grid-area: submit;
    align-self: stretch;
}

a{
    padding-left: 20px;
    padding-right: 20px;
}

.zoom{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
    transform:scale(1.2);
}     
.zoom:hover{
    transform: scale(1.5); 
    }





.tips_contactanos{
    padding: 10px 20px 5px 20px;
}
/* Links a */
/* Gradientes grid_nutricion */

/*a{
    margin-left: 15px;
    Gradientes
    background-image: linear-gradient(left, yellow, green);
    background-attachment: fixed;
    Transformaciones
    transform: rotateY(90deg);
    Transformaciones
    transform: scale(2,1);
    transform: skewY(90deg);

    .corazon{
        width: 32px;
        height: 32px;
        background-color: tomato;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    .corazon:before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: tomato ;
        transform: translateY(-50%);
        border-radius: 50%;
    }
    .corazon:after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: tomato ;
        transform: translateX(-50%);
        border-radius: 50%;
    }

}
*/


